html,
body {
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
}

.calc-container {
    margin-top: 10px;
    display: flex;
    align-content: start;
    width: 400px;
    height: 600px;
    flex-wrap: wrap;
    border: 2px solid black;
    /* gap: 10px; */
    padding: 10px;
}

.op-button,
.input-button,
#clear,
#calculate,
#undo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    user-select: none;
    font-size: 42px;
    font-weight: 500;
}

.input-button:hover,
.op-button:hover,
#clear:hover,
#calculate:hover,
#undo:hover {
    background-color: rgb(192, 192, 192);
}

.input-button:active,
.op-button:active,
#clear:active,
#calculate:active,
#undo:active {
    background-color: blue;
}

#calc-display {
    text-align: end;
    margin: 0;
    padding: 0;
    border: 0px;
    width: 400px;
    height: 100px;
    border-bottom: 3px solid black;
    box-sizing: border-box;
    font-size: 42px;
    font-weight: 500;
}