html,
body {
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.buttons {
    display: flex;
}

.calc-container {
    display: flex;
    flex-direction: column;
    align-content: start;
    background-color: rgb(41, 41, 41);
    padding: 25px;
    border-radius: 30px;
}

.input-nums {
    width: 300px;
    height: 400px;
    display: flex;
    flex-wrap: wrap-reverse;
    border-right: 3px solid white;
    padding-right: 10px;
}

.op-buttons {
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 10px;
}

.function-buttons {
    display: flex;
    flex-direction: column;
}

.op-button,
.input-button,
#clear,
#calculate,
#undo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    user-select: none;
    font-size: 42px;
    font-weight: 500;
}

#calculate {
    height: 200px;
}

.input-button:hover,
#clear:hover,
#calculate:hover,
#undo:hover {
    border: 2px solid white;
    border-radius: 15px;
    box-sizing: border-box;

}

.op-button:hover {
    color: rgb(0, 119, 255);
    border: 2px solid rgb(0, 119, 255);
    box-sizing: border-box;
    border-radius: 15px;
}

.op-button:active {
    color: white;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 15px;
}


#clear:hover,
#undo:hover {
    color: red;
    border: 3px solid red;
    border-radius: 15px;
    box-sizing: border-box;
}

.input-button:active,
#clear:active,
#calculate:active,
#undo:active {
    color: rgb(0, 119, 255);
    border: 2px solid rgb(0, 119, 255);
    box-sizing: border-box;
    border-radius: 15px;
}

#calc-display {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    border-bottom: 3px solid rgb(255, 255, 255);
    box-sizing: border-box;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 10px;
}